/* :root {
  --maxWidth-wrapper: var(--maxWidth-3xl);
} */
body {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🐋</text></svg>")
      16 0,
    auto;
  min-height: 100vh;
  background-color: rgba(0, 91, 153, 0.15);
}
a {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🐳</text></svg>")
      16 0,
    auto;
}
.small {
  font-size: var(--fontSize-0);
}

.bio,
.article-image,
.post-list-item {
  border: 2px solid #333;
  padding: 1.5rem;
  box-shadow: 10px 10px #454545;
  transition: 0.25s all;
  transform: translateX(-5px);
}
.bio,
.post-list-item {
  background-color: #fff;
}

.post-list-item:hover {
  border: 2px dashed #333;
  box-shadow: 10px 10px rgba(0, 91, 153, 0.5);
}

.post-list-item {
  position: relative;
  transition: 0.25s all;
  margin-bottom: var(--spacing-12);
  margin-top: var(--spacing-12);
}

.post-title:before {
  content: "🐋 ";
  font-size: 1.2em;
  display: inline-block;
  min-width: 50px;
}
.post-list-item:hover .post-title:before {
  content: "🐳 ";
}

.post-title span {
  color: #333;
  font-weight: var(--fontWeight-extrabold);
  letter-spacing: 0.5px;
}

.post-date {
  display: inline-block;
  opacity: 0.7;
}

.post-link {
  text-decoration: none;
  display: inline-block;
  margin-top: 1rem;
}
.post-link:after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
}

.post-link span {
  background-image: linear-gradient(
    transparent calc(75% - 5px),
    rgba(0, 91, 153, 0.15) 5px
  );
  background-size: 0;
  background-repeat: no-repeat;
  display: inline;
  transition: 0.5s ease;
}
.post-list-item:hover .post-link span {
  color: inherit;
  background-size: 100%;
}

/* .article-body */
.article-body {
  transform: translateX(-5px);
  background-color: #fff;
  box-shadow: 10px 10px #454545;
  border: 2px solid #333;
  padding: 1.5rem;
}
.article-body ul,
.article-body ol {
  padding: revert;
}

.article-image {
  padding: 1px;
}

.main-navigation-list {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  justify-content: center;
}
.main-navigation-list .main-navigation-list-item {
  border: 1px solid #333;
  transition: 0.5s ease;
}
.main-navigation-list .main-navigation-list-item:hover {
  box-shadow: 5px 5px #454545;
}
.main-navigation-list .main-navigation-list-item a {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: inherit;
}
.main-navigation-list .main-navigation-list-item + .main-navigation-list-item {
  margin-left: 1rem;
}
